@{
    Container container = ViewBag.Container as Container;
    IEnumerable<ContainerPlace> places = ViewBag.Places as IEnumerable<ContainerPlace>;
    ContainerPlace currentPlace = places.SingleOrDefault(_ => _.Finish == null);
    string currentPlaceString = "не определено";
    if(currentPlace != null)
    {
        currentPlaceString = $"{currentPlace.Warehouse.Name}, место: {currentPlace.Number}";
    }
    string beaconId = "Не прикреплён";
    if(container.Beacon != null)
    {
        beaconId = container.Beacon.GATTId;
    }
    ViewData["Title"] = "ПАК Логист";
}

<div class="text-center">
    <h5>Контейнер: @container.Number</h5>
    <div>Тип содержимого: <b>@container.TypeAsString</b></div>
    <div>Текущее местоположение: <b>@currentPlaceString</b></div>
    <div>Текущее содержимое: <b>@container.ContentAsString</b></div>
    <div>Текущий вес: <b>@container.Weight</b></div>
    <div>Описание: <b>@container.Description</b></div>
    @if (currentPlace.Warehouse.IsOpenSky)
    {
        <div><b>Время нахождения под открытым воздухом: @DateTimeOffset.Now.Subtract(currentPlace.DateFrom).ToString("d\\.hh\\:mm\\:ss")</b></div>
    }
    <div>Идентификатор маячка: <b>@beaconId</b></div>

    <p>История перемещений:</p>
    <table class="table table-sm table-striped table-hover border-bottom">
        <thead>
            <tr>
                <th class="d-none d-lg-table-cell">
                    Дата обнаружения
                </th>
                <th>
                    Местоположение
                </th>
                <th>
                    Дата перемещения
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContainerPlace place in places)
            {
                string placeString = $"{place.Warehouse.Name}, место: {place.Number}";
                <tr>
                    <td>
                        @place.DateFrom
                    </td>
                    <td>
                        @placeString
                    </td>
                    <td>
                        @place.Finish
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(document).ready(function () {
            setInterval(function () {
                cache_clear()
            }, 1000);
        });

        function cache_clear() {
            window.location.reload(true);
        }
    </script>
}